# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Нурболат\Desktop\6trimestr\performance analysis\go-concurrency-exercises-master\go-concurrency-exercises-master\0-limit-crawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
